<%= link_to root_path, id: "banner-container" do %>
  <div id="banner-title">Muh Title</div>
  <div id="banner-subtitle">Muh Subtitle</div>  
<% end %>

<script>

  function resize() {
    var width = $(document).width();
    if (width < 600) {
      $("#banner-title").css({"font-size": "16vw"});
      $("#banner-subtitle").css({"font-size": "4vw"});
      $(".topic-selector").css({"display": "none"});
    } else {
      $("#banner-title").css({"font-size": "7em"});
      $("#banner-subtitle").css({"font-size": "2em"});
      $(".topic-selector").css({"display": "flex"});
    }    
  }

  $(document).ready(function() {
    resize();
    window.addEventListener("resize", function() { resize(); });
  });

</script>