<% navbar_topics = [
  { title: "About", link: '/', subtitle: "About This Site" },
  { title: "Contact", link: '/', subtitle: "How to Stalk Me" },
  { title: "Current Events", link: '?tags=current-events', subtitle: "Shitposting About the News" },
  { title: "Meta Politics", link: '?tags=meta-politics', subtitle: "Meta Politics" },
  { title: "Best Of", link: '?tags=test', subtitle: "Best Of" }
] %>


<div id="navbar">
  <div>
    <% navbar_topics.each do |i| %>
      <%= link_to i[:link], data: {subtitle: i[:subtitle]}, class: "topic-selector" do %>
        <%= i[:title] %>
        <div></div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .topic-selector {
    width: <%= 100 / navbar_topics.length %>%;
  }
</style>

<script>
  $(document).ready(function() {
    $(".topic-selector").on("mouseover", function() {
      $("#banner-subtitle").text(this.dataset.subtitle);
    });
    $(".topic-selector").on("mouseleave", function() {
      $("#banner-subtitle").text("Niggas Whomst Have Big Brains");
    });
  });
</script>