<% navbar_topics = [
  { title: "About", link: '/', subtitle: "About this site" },
  { title: "Contact", link: '/', subtitle: "How to stalk me" },
  { title: "Current Events", link: '/', subtitle: "My thoughts on the goings on in the world" },
  { title: "Meta Politics", link: '/', subtitle: "Timeless insights into the nature of politics" },
  { title: "Best Of", link: '?tags=test', subtitle: "Posts I'm particularly proud of" }
] %>


<div id="navbar">
  <div>
    <% navbar_topics.each do |i| %>
      <%= link_to i[:link], data: {subtitle: i[:subtitle]}, class: "topic-selector" do %>
        <%= i[:title] %>
        <div></div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .topic-selector {
    width: <%= 100 / navbar_topics.length %>%;
  }
</style>

<script>
  $(".topic-selector").on("mouseenter", function() {
    $("#banner-subtitle").text(this.dataset.subtitle);
  });
  $(".topic-selector").on("mouseleave", function() {
    $("#banner-subtitle").text("Muh Subtitle");
  });
</script>