#navbar {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: $main-font;
  background-color: $light-blue;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  div {
    display: flex;
    max-width: $max-wrapper-width;
    margin: 0 auto;
  }
}

.topic-selector {
  // border-bottom: $navbar-border;
  position: relative;
  color: $dark-color;
  font-size: 1em;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border-right: $navbar-border;
  &:first-child {
    // border-left: $navbar-border;
  }
  div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: black;
    cursor: pointer;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.1;
    }
  }
}