#post-wrapper {
  max-width: $max-wrapper-width;
  padding: 30px 0px;
  margin: 0 auto;
}


.post-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.post-title {
  margin-bottom: 2px;
  font-family: $main-font;
  font-size: 28px;
  font-weight: bolder;
  transition: color 0.12s;
  a {
    &:hover {
      color: $dark-color;
    }
  }
}

#post-title {
  font-size: 40px;
}

.post-tags {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 10px;
  & > span {
    margin-right: 10px;
  }
}

#post-tags {
  margin-bottom: 35px;
}

.tag {
  &:hover {
    color: $dark-color;
    text-decoration: underline;
  }
}

.read-more {
  color: $hyperlink-color;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.center-image {
  display: block;
  margin: 0 auto;  
}

.float-image-left {
  float: left;
  margin-right: 20px;
}