$main-blue-light: #3585d6;
$main-blue-dark: #255d96;
$light-blue: #e8f1f9;
$light-blue-post: #f2f5f7;
$dark-color: #c60000;
$hyperlink-color: #246887;
$off-black: #212121;

$title-font: 'Shrikhand', cursive;
$title-font-color: white;

$main-font: 'Helvetica';

$max-wrapper-width: 1300px;