$main-blue-light: #3585d6;
$main-blue-dark: #255d96;
$light-blue: #e8f1f9;
$navbar-border: 1px solid #c60000;

$title-font: 'Shrikhand', cursive;
$title-font-color: white;

$max-wrapper-width: 1500px;